<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" href="/static/css/custom.css">
    </head>
    <body class="blue-grey darken-3">
        <div class="row container">
            <div class="col s12 l6 offset-l3">
                {% if saved %}
                    <ul class="collapsible" data-collapsible="accordion">
                        {% for sub in saved.items() %}
                            <li>
                                <div class="collapsible-header flow-text cyan blue-grey-text text-darken-3">{{ sub[0] }}</div>
                                <div class="collapsible-body">
                                    <table>   
                                        <tbody class="white cyan-text">                                                
                                            {% for post in sub[1]|sort(True, attribute='score') %}
                                                <tr class="valign-wrapper">
                                                    <td><a href="{{ post['link'] }}">{{ post['title'] }}</a></td>
                                                    <td class="chip valign">{{ post['score'] }}</td>
                                                </tr>  
                                            {% endfor %} 
                                        </tbody>   
                                    </table>   
                                </div>                    
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <a href="{{ url_for('authentication') }}">
                        <button class="waves-effect waves-light btn">
                            Grant Access
                        </button>
                    </a>
                {% endif %}                   
            </div>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    </body>
</html>